/* General Styling */
body {
    font-family: 'Arial', sans-serif;  /* Simple, clean font */
    margin: 0;
    line-height: 1.6;
    background-color: #fff; /* White background */
    color: #131313; /* Dark gray text for contrast */
}

header {
    background-color: #1E90FF; /* Light sky blue header */
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px; /* More space between navigation items */
}

nav a {
    
    color: #fff;
    font-weight: 500; /* Slightly bolder font for links */
}

section {
    padding: 3rem; /* Increased padding for airiness */
    margin-inline: auto;
    max-width: 1024px; /* Center content for balance */
}

h2 {
    margin-bottom: 1.5rem;
    color: #1E90FF; /* Light sky blue header */
    ; /* Accent color for headings */
}

/* Project Section */

.project {
    background-color: #fff;
    border: 2px solid #c1d5f0; /* Subtle border */
    margin-bottom: 2rem;
    box-shadow: none; /* Remove box shadow */
    padding: 15px;
    border-radius: 12px;
}

.project img {
    max-width: 100%; /* Ensure the image doesn't exceed its container's width */
  height: auto;     /* Automatically adjust the height to maintain the aspect ratio */
  display: block;   /* Prevent extra space below the image due to default inline behavior */
  object-fit: cover;
    height: auto;
    margin-bottom: 1.5rem;
    filter: grayscale(30%); /* Subtle grayscale effect */
}



/* Contact Section */
/* Contact Form Styles */
#contact-form {
    max-width: 500px; /* Adjust as needed */
    margin: 0 auto;  /* Center the form */
  }
  
  .form-group {
    margin-bottom: 1.5rem;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500; /* Slightly bolder labels */
  }
  
  input,
  textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #eee; /* Subtle border */
    border-radius: 4px;   /* Slightly rounded corners */
  }
  
  button[type="submit"] {
    background-color:#1E90FF; /* Light sky blue header */
    ; /* Use one of your accent colors */
    color: white;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
  }
  

/* Footer */
footer {
    background-color: #1E90FF; /* Darker blue footer */
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
